# Managed by Puppet

<% if ssl and ssl_redirect -%>
server {
  listen 80<% if def_vhost and name == title -%> default_server<% end -%>;

<% if def_vhost and name == title -%>
  server_name _;
<% else -%>
  server_name <%= name %><% aliases.each do |name_alias| -%> <%= name_alias %><% end -%>;
<% end -%>

  access_log off;
  error_log <%= log_dir %>/<%= title %>.error.log;

  return 301 https://$host$request_uri;
}
<% end -%>

server {
  listen <%= listen %><% if def_vhost -%> default_server<% end -%><% if ssl -%> ssl<% end -%>;

<% if def_vhost -%>
  server_name _;
<% else -%>
  server_name <%= name %><% aliases.each do |name_alias| -%> <%= name_alias %><% end -%>;
<% end -%>
<% if doc_dir -%>
  root <%= doc_dir %>;
<% end -%>

  access_log <%= log_dir %>/<%= title %>.access.log;
  error_log <%= log_dir %>/<%= title %>.error.log;

<% if ssl -%>
  ssl on;
  ssl_certificate <%= ssl_cert %>;
  ssl_certificate_key <%= ssl_key %>;

  ssl_prefer_server_ciphers on;
  ssl_protocols SSLv3 TLSv1 TLSv1.1 TLSv1.2;
  ssl_session_cache shared:SSL:2m;
  ssl_ciphers HIGH:!aNULL:!MD5;
<% end -%>

<% if redirect_to -%>
  rewrite ^/$ <%= redirect_to %> permanent;
<% end -%>

  location ~* /(.git|.svn|.subversion)/ {
    deny all;
  }

  location = /health {
    access_log off;
  }

<% if deny -%>
  location = \/(<% deny.each do |d| -%><%= d %>|<% end -%>) {
    deny all;
  }
<% end -%>

<% if proxy_to or upstream -%>
  location ~* ^.*+\.(ico|css|js|gif|jp?g|png)$ {
    expires max;
  }

  location / {
    try_files $uri<% if !upstream -%> $uri/<% end -%> @proxy;
  }

  location @proxy {
<% if upstream -%>
    proxy_pass        http://<%= upstream %>;
<% else -%>
    proxy_pass        http://127.0.0.1:<%= proxy_to %>$request_uri;
<% end -%>
    proxy_redirect    off;
    proxy_set_header  Host $host;
    proxy_set_header  X-Real-IP $remote_addr;
    proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
<% if ssl -%>
    proxy_set_header  X-FORWARDED_PROTO https;
<% end -%>
  }
<% elsif php -%>
  location / {
    try_files $uri $uri/ /index.php;
  }

  location ~ \.php$ {
    try_files $uri =404;
    include fastcgi_params;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_index index.php;
    fastcgi_pass unix:/var/run/php5-fpm.socket;
    fastcgi_buffers 8 16k;
    fastcgi_buffer_size 32k;
    fastcgi_intercept_errors on;
<% if environment -%>
    fastcgi_param ENVIRONMENT <%= environment %>;
<% end -%>
  }
<% end -%>
}
