<%= @env %>:
  adapter: <%= @db['adapter'] %>
  encoding: <%= @db['encoding'] %>
  database: <%= @db['name'] %>
  pool: <%= @db['pool'] %>
  host: <%= @db['host'] %>
  port: <%= @db['port'] %>
  username: "<%= @db['username'] %>"
  password: "<%= @db['password'] %>"
  template: template0
